.home {
    height: calc(100vh - 96px);
    /* background-image: url('../../public/logo_boug.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

.top-left {
    grid-row: 1/span 2
}

.left {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 40px;
}

.bottom-left {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    align-items: end;
}

.right {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

.home-grid {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    padding: 0 40px 40px 40px;
    box-sizing: border-box;
}

.bottom-left-left {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: auto;
    height: auto;
}

.bottom-left-right {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: auto;
    height: auto;
}

.bottom-nav-bar {
    display: none;
}

@media screen and (max-width: 1280px) {
    .home-grid {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 40px;
        padding: 0 40px 40px 40px;
        box-sizing: border-box;
        height: 100%;
    }

    .top-left {
        grid-row: 1
    }
}

@media screen and (max-width: 720px) {
    .home-grid {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 40px;
        padding: 0 20px 40px 20px;
        box-sizing: border-box;
        height: 100%;
    } 

    .right {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 40px;
    }

    .home {
        height: calc(100% - 96px);
    }

    .right-left {
        height: 550px;
    }

    .right-center {
        height: 550px;
    }

    .right-right {
        height: 550px;
    }

    .bottom-left {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 40px; 
    }

    .bottom-left-left {
        height: 300px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        margin: 0 auto;
    }

    .bottom-left-right {
        height: 300px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        margin: 0 auto;
    }

    .top-left {
        grid-row: 1
    }
}

@media screen and (max-width: 600px) {
    .bottom-nav-bar {
        display: flex;
    }

    .top-left {
        grid-row: 1
    }
}