.banner {
    height: 96px;
    background-color: black;
    color: white;
    position: relative;
}

.banner-content {
    height: 100%;
    box-sizing: border-box;
    padding: 15px 40px 15px 40px;
    display: flex;
}

.banner-nav {
    width: 400px;
    display: flex;
    align-items: center;
}

.banner-logo {
    height: 100%;
    width: auto;
}

.banner-logo-link {
    height: 80%;
}

.banner-nav-elem {
    margin-right: 20px;
}

.banner-nav-end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner-profil-icon {
    height: 50%;
    cursor: pointer;
}

.banner-profil-panel {
    display: block;
    position: absolute;
    height: auto;
    width: 180px;
    right: 5px;
    top: 90px;
    background-color: rgba(30,30,30,1);
    z-index: 1;
    border-radius: 5px;
    border: solid 0.1px rgb(100, 100, 100);
}

.banner-list {
    height: auto;
}

.banner-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
}

.banner-profil-link:hover .banner-list-item {
    background-color: rgb(54, 54, 54);
}

.banner-list-item:first-child {
    border-radius: 5px 5px 0px 0px;
}

.banner-div-logout {
    display: flex;
    justify-content: center;
    border-top: solid 0.1px rgb(100, 100, 100);
    box-sizing: border-box;
    padding: 5px 0 5px 0;
    border-radius: 0px 0px 5px 5px;
}

.banner-div-logout:hover {
    background-color: rgb(170, 0, 0);
}